main/node_modules
main/.cache
main/public
main/yarn.lock
main/serviceAccount.json
main/functions/src/config
main/functions/lib
main/functions/node_modules
main/functions/package-lock.json
main/firebase-debug.log
main/ui-debug.log
main/firestore-debug.log
main/firestore-exports
main/src/config
admin/src/config
admin/yarn.lock
admin/node_modules
admin/build
admin/.eslintcache